<ul>
  <li *ngFor="let item of todoList">
    <p class="element"> {{ item.todoItem }} </p>
    <p> asdfads </p>
  </li>
</ul>


<!-- 
to get this working:
<div class="list-group"  *ngFor="let item of todoList; let num = index">
<a class="list-group-item clearfix">
    Action1
    <span class="pull-right">
        <span class="btn btn-xs btn-default" onclick="alert('delete');">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </span>
    </span>
</a>
</div> -->
